---
import "../config/theme.css";
import "../styles/global.css";
import Demo from "../components/Demo";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Démo Shadcn UI</title>
  </head>
  <body class="min-h-screen bg-background text-foreground">
    <Demo client:load />
  </body>
</html>